/* Estiliza o corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(/img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita rolagem na página */
}

/* Estiliza o contêiner principal do formulário */
.form-container {
    width: 60vw; /* Para telas de computador */
    max-width: 800px; /* Limita a largura em telas grandes */
    overflow: hidden; /* Garante que nada saia do contêiner */
    padding: 2vw; /* Adiciona preenchimento interno */
    box-sizing: border-box;
}

/* Estiliza a mensagem de erro */
.error-message {
    color: rgba(255, 255, 255, 0.897);
    font-size: 1.2rem;
    position: absolute;
    top: -2vw; /* Ajuste a posição para ficar acima do botão */
    left: 0;
    width: 100%; /* Garante que ocupe toda a largura do contêiner */
    text-align: center;
    font-weight: bold;
    z-index: 10; /* Garante que a mensagem fique por cima de outros elementos */
}

/* Estiliza o título do formulário */
h1 {
    font-size: 2.5vw; /* Define o tamanho da fonte como 2.5% da largura da visualização */
    color: #fff;
    margin-bottom: 5vw;
    text-align: center;
}

/* Estiliza os rótulos e campos de entrada */
label {
    font-size: 1.4vw;
    margin-bottom: 1vw;
    font-weight: bold;
    color: #ffffff;
}

input {
    padding: 1.2vw 1.5vw;
    border-radius: 5vw;
    border: none;
    width: 100%;
    background-color: #ffffffa1;
    color: #131212;
    font-size: 1.4vw;
    box-sizing: border-box;
}

/* Estiliza o botão de envio */
.submit-btn {
    background-color: #ff6f3c;
    color: #fff;
    padding: 0.8vw;
    width: 40%;
    border: none;
    border-radius: 5vw;
    font-size: 1.5vw;
    margin-top: 4vw;
    cursor: pointer;
    position: relative;
    left: 30%;
}

.submit-btn:hover {
    background-color: #ff5722;
}

.submit-btn:active {
    background-color: #ff5e00;
}

/* Responsividade para telas menores (smartphones) */
@media (max-width: 600px) {
    body {
        height: auto; /* Permite rolagem em telas pequenas */
        padding: 2vw;
        overflow-y: auto;
    }

    .form-container {
        width: 90vw; /* Aumenta o preenchimento da tela em dispositivos móveis */
        max-width: 100%; /* Garante que ele nunca ultrapasse a tela */
        padding: 5vw;
    }

    h1 {
        font-size: 5vw; /* Ajusta o tamanho do título para telas menores */
        margin-bottom: 10vw;
    }

    label {
        font-size: 3.5vw; /* Aumenta o tamanho da fonte dos rótulos */
    }

    input {
        font-size: 4vw; /* Ajusta o tamanho do texto nos inputs */
        padding: 3vw;
    }

    .submit-btn {
        width: 100%; /* Botão ocupa toda a largura em dispositivos móveis */
        font-size: 5vw;
        margin-top: 10vw;
        left: 0;
    }
}
