@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0; 
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/fundo.png); 
    background-size: cover; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Estilo para o logo */
.CaixaMensagem {
    margin-left: 15em;
    width: 100%;
}

.logo {
    position: absolute; /* Tornar a logo fixa no topo da página */
    top: 25px;
    left: 20px;
    z-index: 100; /* Garante que a logo apareça acima de outros elementos */
}

.logo-img {
    width: 75px;
    height: auto;
}

/* Estilo para o ícone */
.icon {
    position: absolute; /* Torna o ícone independente do fluxo normal da página */
    top: 10%; /* Ajusta a posição do ícone para cima da frase */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 230px;
    height: auto;
    max-width: 100%;
}

/* Centraliza o texto e organiza o h1 */
.content {
    position: relative;
    text-align: center;
    margin-top: 200px; /* Ajuste para garantir que o texto fique abaixo do ícone */
}

.fonte h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    margin-top: 50px; /* Ajuste de margem para o texto */
    margin-bottom: 20px;
    text-align: center;
}

.fonte h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

/* Estilos responsivos usando media queries */

/* Dispositivos médios (até 1024px) */
@media (max-width: 1024px) {
    .CaixaMensagem {
        margin-top: -40em;
        width: 90%; 
        margin: 0 auto;
    }
    .logo-img {
        width: 60px; /* Reduz o tamanho da logo em dispositivos menores */
    }
    .icon img {
        width: 180px;
    }
    .fonte h1 {
        margin-top: 30px; /* Ajuste de margem para dispositivos médios */
    }
}

/* Dispositivos menores (até 768px) */
@media (max-width: 768px) {
    body {
        height: auto;
    }
    .CaixaMensagem {
        width: 90%; 
        margin: 0 auto;
        margin-top: 2em;
    }
    .logo-img {
        width: 50px;
    }
    .icon {
        top: 8%; /* Ajuste a posição do ícone para telas menores */
    }
    .icon img {
        width: 120px;
    }
    .fonte h1 {
        font-size: 2rem;
        margin-top: 20px;
    }
    .fonte h2 {
        font-size: 1.8rem;
    }
}

/* Dispositivos pequenos (até 580px) */
@media (max-width: 580px) {
    .CaixaMensagem {
        width: 100%; 
        margin: 0 auto;
        margin-top: 1.5em;
    }
    .logo-img {
        width: 40px;
    }
    .icon {
        top: 5%; /* Ajuste a posição do ícone para cima em telas menores */
    }
    .icon img {
        width: 100px;
    }
    .fonte h1 {
        font-size: 1.5rem;
        margin-top: 0.5em;
    }
    .fonte h2 {
        font-size: 1.3rem;
    }
}
